{% extends 'base.html' %}

{% block contents %}
    지역별 게싶판
    <form class="container-flouid" name="category" action="" method="post"></form>
    {% csrf_token %}
    <div class="form-group">
    <h3>카테고리</h3>
    <div>
    <label><strong>종류</strong></label>
    <label class="checkbox">
        <input type='checkbox' name='menu' value='koreanFood'/>한식
    </label>
    <label class="checkbox">
        <input type='checkbox' name='menu' value='westernFood' checked/>양식
    </label>
    <label class="checkbox">
        <input type='checkbox' name='menu' value='japaneseFood'/>일식
    </label>
    <label class="checkbox">
        <input type='checkbox' name='menu' value='chineseFood'/>중식
    </label>
    <label class="checkbox">
        <input type='checkbox' name='menu' value='etcFood'/>기타
    </label>
    <br>
    </div>
    <div>
    <label><strong>밥시간</strong></label>
    <label class="checkbox">
        <input type='checkbox' name='mealtime' value='breakfast'/>아침
    </label>
    <label class="checkbox">
        <input type='checkbox' name='mealtime' value='lunch'/>점심
    </label>
    <label class="checkbox">
        <input type='checkbox' name='mealtime' value='dinner'/>저녁
    </label>
    <label class="checkbox">
        <input type='checkbox' name='mealtime' value='lastnight'/>야식
    </label>
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
    </div>
</form>

<div>
    <p>{{ foods }}</p>
</div>

{% endblock%}