{% extends 'base.html' %}

{% block contents %}
    맛집 게시판

    
    <!-- 맛집 메뉴들 불러오기-->
    {%for koreanFood in koreanFoods.all%}
        <div class="container">
            <h1>{{koreanFood.title}}</h1>    
            <p>{{koreanFood.body}}</p>
            <p>{{koreanFood.star}}</p>
            <p><a href="{%url 'detail_koreanFood' koreanFood.id%}">자세히보기</a></p>
        </div>
    {%endfor%}

    {%for chineseFood in chineseFoods.all%}
    <div class="container">
        <h1>{{chineseFood.title}}</h1>    
        <p>{{chineseFood.body}}</p>
        <p>{{chineseFood.star}}</p>
    </div>
    {%endfor%}

    {%for japaneseFood in japaneseFoods.all%}
    <div class="container">
        <h1>{{japaneseFood.title}}</h1>    
        <p>{{japaneseFood.body}}</p>
        <p>{{japaneseFood.star}}</p>
    </div>
    {%endfor%}

    {%for westernFood in westernFoods.all%}
    <div class="container">
        <h1>{{westernFood.title}}</h1>    
        <p>{{westernFood.body}}</p>
        <p>{{westernFood.star}}</p>
    </div>
    {%endfor%}

    {%for fastFood in fastFoods.all%}
    <div class="container">
        <h1>{{fast.title}}</h1>    
        <p>{{fast.body}}</p>
        <p>{{fast.star}}</p>
    </div>
    {%endfor%}

    {%for dessert in desserts.all%}
    <div class="container">
        <h1>{{dessert.title}}</h1>    
        <p>{{dessert.body}}</p>
        <p>{{dessert.star}}</p>
    </div>
    {%endfor%}

    {%for drink in drinks.all%}
    <div class="container">
        <h1>{{drink.title}}</h1>    
        <p>{{drink.body}}</p>
        <p>{{drink.star}}</p>
    </div>
    {%endfor%}

    <a href="{% url 'new_koreanFood' %}">
            <button type="button" class="btn btn-danger">글쓰기</button>
          </a>

{% endblock%}